## Question 1

Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.

Examples

filter_list([1, 2, &quot;a&quot;, &quot;b&quot;]) ➞ [1, 2]

filter_list([1, &quot;a&quot;, &quot;b&quot;, 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, &quot;aasf&quot;, &quot;1&quot;, &quot;123&quot;, 123]) ➞ [1, 2, 123]

In [12]:
def filter_list(lst):
    lst1 = []
    for i in lst:
        if type(i) == int and i > 0:
            lst1.append(i)
    return lst1

In [13]:
filter_list([1, 2, '3', '5', -5])

[1, 2]

In [14]:
filter_list([1, 2, 'a', 'b'])

[1, 2]

In [15]:
filter_list([1, 'a', 'b', 0, 15])

[1, 15]

In [16]:
filter_list([1, 2, 'aasf', '1', '123', 123])

[1, 2, 123]

## Question 2
The &quot;Reverser&quot; takes a string as input and returns that string in reverse order, with the opposite case.

Examples

reverse(&quot;Hello World&quot;) ➞ &quot;DLROw OLLEh&quot;

reverse(&quot;ReVeRsE&quot;) ➞ &quot;eSrEvEr&quot;

reverse(&quot;Radar&quot;) ➞ &quot;RADAr&quot;

In [35]:
def reverse(string):
    lst = []
    for i in string:
        lst.append(i.swapcase())
        
    return ''.join(lst[::-1])

In [36]:
reverse("Hello World")

'DLROw OLLEh'

In [37]:
reverse("ReVeRsE")

'eSrEvEr'

In [38]:
reverse("Radar")

'RADAr'

## Question 3

You can assign variables from lists like this:

lst = [1, 2, 3, 4, 5, 6]

first = lst[0]

middle = lst[1:-1]

last = lst[-1]

print(first) ➞ outputs 1

print(middle) ➞ outputs [2, 3, 4, 5]

print(last) ➞ outputs 6



With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), 

where:

first ➞ 1

middle ➞ [2, 3, 4, 5]

last ➞ 6

Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.

In [104]:
lst = [1, 2, 3, 4, 5, 6]

In [106]:
first, *middle, last = lst

In [107]:
first

1

In [109]:
middle

[2, 3, 4, 5]

In [110]:
last

6

## Question 4

Write a function that calculates the factorial of a number recursively.

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [39]:
def factorial(n):
    if n == 0:
        return 1
    elif n > 0:
        return n * factorial(n-1)

In [40]:
factorial(5)

120

In [41]:
factorial(3)

6

In [42]:
factorial(1)

1

In [43]:
factorial(0)

1

## Question 5

Write a function that moves all elements of one type to the end of the list.

Examples

move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]

Move all the 1s to the end of the array.

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

move_to_end([&quot;a&quot;, &quot;a&quot;, &quot;a&quot;, &quot;b&quot;], &quot;a&quot;) ➞ [&quot;b&quot;, &quot;a&quot;, 
&quot;a&quot;, &quot;a&quot;]

In [100]:
lst = [1, 3, 2, 4, 4, 1]

def move_to_end(lst, c):
    
    lst1 = []
    count = lst.count(c)
    
    while (count > 0):
        lst.remove(c)
        count = lst.count(c)
        lst1.append(c)
        
    return (lst + lst1)

In [101]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [102]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [103]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']