## Question1.
Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.

Examples

evenly_divisible(1, 10, 20) ➞ 0

No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30

2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18

In [9]:
def evenly_divisible(a, b, c):
    try:
        lst = []
        for i in range(a, b+1):
            if i % c == 0:
                lst.append(i)
        if lst == []:
            return f'No number between {a} and {b} can be evenly divided by {c}.'
        else:
            return sum(lst)
    except Exception as e:
        return e

In [10]:
evenly_divisible(1, 10, 2)

30

In [11]:
evenly_divisible(1, 10, 20)

'No number between 1 and 10 can be evenly divided by 20.'

In [12]:
evenly_divisible(1, 10, 3)

18

In [13]:
evenly_divisible(1, 10, 'a')

TypeError("unsupported operand type(s) for %: 'int' and 'str'")

## Question2. 
Create a function that returns True if a given inequality expression is correct and False otherwise.

Examples

correct_signs(&quot;3 &lt; 7 &lt; 11&quot;) ➞ True

correct_signs(&quot;13 &gt; 44 &gt; 33 &gt; 1&quot;) ➞ False

correct_signs(&quot;1 &lt; 2 &lt; 6 &lt; 9 &gt; 3&quot;) ➞ True

In [2]:
def correct_signs(expression):
    if eval(expression):
        return True
    else:
        return False

In [3]:
correct_signs("3 < 7 < 11")

True

In [4]:
correct_signs("13 > 44 > 33 > 1")

False

In [5]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

## Question3. 
Create a function that replaces all the vowels in a string with a specified character.

Examples

replace_vowels(&quot;the aardvark&quot;, &quot;#&quot;) ➞ &quot;th# ##rdv#rk&quot;

replace_vowels(&quot;minnie mouse&quot;, &quot;?&quot;) ➞ &quot;m?nn?? m??s?&quot;

replace_vowels(&quot;shakespeare&quot;, &quot;*&quot;) ➞ &quot;sh*k*sp**r*&quot;

In [23]:
def replace_vowels(text, char):
    vowels = 'aeiouAEIOU'

    for i in vowels:
        text = text.replace(i, char)
        
    return text

In [24]:
replace_vowels("the aardvark", '#')

'th# ##rdv#rk'

In [25]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [26]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'

## Question4. 
Write a function that calculates the factorial of a number recursively.

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [33]:
def factorial(n):
    if n == 0:
        return 1
    if n > 0:
        return n * fact(n-1)

In [34]:
factorial(5)

120

In [35]:
factorial(3)

6

In [36]:
factorial(1)

1

In [37]:
factorial(0)

1

## Question 5
Hamming distance is the number of characters that differ between two strings.

To illustrate:

String1: &quot;abcbba&quot;

String2: &quot;abcbda&quot;

Hamming Distance: 1 - &quot;b&quot; vs. &quot;d&quot; is the only difference.

In [3]:
def hamming_distance(s1, s2):
    count = 0 
    
    try:
        
        if len(s1) != len(s2):
            return 'Length of the strings should be same'
        
        for i in range(len(s1)):
            if s1[i] != s2[i]:
                count += 1
        return count
    except Exception as e:
        return e

In [4]:
hamming_distance('asdfsf', 'ass')

'Length of the strings should be same'

In [5]:
hamming_distance('abcde', 'bcdef')

5

In [6]:
hamming_distance('abcde', 'abcde')

0

In [7]:
hamming_distance('strong', 'strung')

1