## Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [2]:
def is_symmetrical(number):
    n = number
    reverse = 0
    while(number > 0):
        dig = number % 10
        reverse = reverse * 10 + dig
        number = number // 10
    
    if n == reverse:
        return True
    else:
        return False

In [3]:
is_symmetrical(7227)

True

In [4]:
is_symmetrical(12567)

False

In [5]:
is_symmetrical(44444444)

True

In [6]:
is_symmetrical(9939)

False

In [7]:
is_symmetrical(1112111)

True

## Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [34]:
import functools
def multiply_nums(string):
    lst = string.split(', ')
    lstint = [int(x) for x in lst]
    return functools.reduce(lambda x, y : x * y, lstint)

In [35]:
multiply_nums("2, 3")

6

In [36]:
multiply_nums("1, 2, 3, 4")

24

In [37]:
multiply_nums("54, 75, 453, 0")

0

In [38]:
multiply_nums("10, -2")

-20

## Question 3


Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [60]:
def square_digits(num):
    n = num
    summ = ''
    
    while (num > 0):
        dig = num%10
        summ = str(dig ** 2) + summ
        num = num // 10
    
    return int(summ)

In [61]:
square_digits(9119)

811181

In [62]:
square_digits(2483)

416649

In [63]:
square_digits(3212)

9414

## Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [67]:
def setify(lst:list):
    return sorted(list(set(lst)))

In [68]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [69]:
setify([4, 4, 4, 4])

[4]

In [70]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [71]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

## Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [76]:
def mean(number):
    n = number
    count = 0
    summ = 0
    while (n > 0):
        summ = summ + n % 10
        n = n // 10
        count += 1
    
    return int(summ/count)

In [77]:
mean(42)

3

In [78]:
mean(12345)

3

In [79]:
mean(666)

6