## Question1
Create a function that takes a string and returns a string in which each character is repeated once.

Examples

double_char(&quot;String&quot;) ➞ &quot;SSttrriinngg&quot;

double_char(&quot;Hello World!&quot;) ➞ &quot;HHeelllloo WWoorrlldd!!&quot;

double_char(&quot;1234!_ &quot;) ➞ &quot;11223344!!__ &quot;

In [6]:
def double_char(string):
    return ''.join(list(map(lambda x: x*2, string)))

In [7]:
double_char('krish')

'kkrriisshh'

In [8]:
double_char("String")

'SSttrriinngg'

In [9]:
double_char("Hello World!")

'HHeelllloo  WWoorrlldd!!'

In [10]:
double_char("1234!_ ")

'11223344!!__  '

## Question2

Create a function that reverses a boolean value and returns the string &quot;boolean expected&quot; if another variable type is given.

Examples

reverse(True) ➞ False

reverse(False) ➞ True

reverse(0) ➞ &quot;boolean expected&quot;

reverse(None) ➞ &quot;boolean expected&quot;

In [40]:
def reverse(a):
    try:
        if type(a) == bool:
            if a == True:
                return False
            if a == False:
                return True
        else:
            return "boolean expected"
        
    except Exception as e:
        return e

In [41]:
reverse(True)

False

In [42]:
reverse(False)

True

In [43]:
reverse(0)

'boolean expected'

In [44]:
reverse(None)

'boolean expected'

## Question3

Create a function that returns the thickness (in meters) of a piece of paper after folding it nnumber of times. The paper starts off with a thickness of 0.5mm.

Examples

num_layers(1) ➞ &quot;0.001m&quot;

Paper folded once is 1mm (equal to 0.001m)

num_layers(4) ➞ &quot;0.008m&quot;

Paper folded 4 times is 8mm (equal to 0.008m)

num_layers(21) ➞ &quot;1048.576m&quot;

Paper folded 21 times is 1048576mm (equal to 1048.576m)

In [52]:
def num_layers(folds):
    return (f'{(0.5 / 1000) * ( 2 ** folds)}m')

In [53]:
num_layers(1)

'0.001m'

In [54]:
num_layers(4)

'0.008m'

In [55]:
num_layers(21)

'1048.576m'

## Question4

Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string.

Examples

index_of_caps(&quot;eDaBiT&quot;) ➞ [1, 3, 5]

index_of_caps(&quot;eQuINoX&quot;) ➞ [1, 3, 4, 6]

index_of_caps(&quot;determine&quot;) ➞ []

index_of_caps(&quot;STRIKE&quot;) ➞ [0, 1, 2, 3, 4, 5]

index_of_caps(&quot;sUn&quot;) ➞ [1]

In [1]:
def index_of_caps(string):
    index = []
    for i in range(len(string)):
        if string[i].isupper():
            index.append(i)
    return index

In [2]:
index_of_caps('eDaBiT')

[1, 3, 5]

In [3]:
index_of_caps("eQuINoX")

[1, 3, 4, 6]

In [4]:
index_of_caps("determine")

[]

In [5]:
index_of_caps("STRIKE")

[0, 1, 2, 3, 4, 5]

In [6]:
index_of_caps("sUn")

[1]

## Question5

Using list comprehensions, create a function that finds all even numbers from 1 to the given number.

Examples

find_even_nums(8) ➞ [2, 4, 6, 8]

find_even_nums(4) ➞ [2, 4]

find_even_nums(2) ➞ [2]

In [18]:
def find_even_nums(n):
    even = []
    for i in range(1, n+1):
        if i%2 == 0:
            even.append(i)
    return even

In [19]:
find_even_nums(8)

[2, 4, 6, 8]

In [20]:
find_even_nums(4)

[2, 4]

In [21]:
find_even_nums(2)

[2]